body {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: center;
}
form {
  border: 3px solid #f1f1f1;
}
.loginformtext{
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

.canclebtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336
}

.imgcontainer {
  margin: 24px 0 12px 0;
  text-align:center;
}

img.avatar{
  width: 40%;
  border-radius: 50%
}

.container {
  padding: 16px
}

span.psw {
  float: right;
  padding-top: 16px
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .canclebtn {
    max-width: 100px;
  }
  .submitbtn {
    max-width: 100px;
  }
  * {
    font-size: 50%;
  }
  form {
    border: 2px solid #f1f1f1;
  }
  .loginformtext{
    text-align: center;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
  }

  button:hover {
    opacity: 0.8;
  }

  .canclebtn {
    width: auto;
    padding: 3px 5px;
    background-color: #f44336;
  }

  .imgcontainer {
    margin: 12px 0 6px 0;
    text-align:center;
  }

  img.avatar{
    width: 30%;
    border-radius: 50%
  }

  .container {
    padding: 8px
  }

  span.psw {
    float: right;
    padding-top: 8px
  }
}